body{
    display: flex;
    margin: 0;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
}
.contenedor-main{
    display: flex;
    flex-direction: column;
}
/* SECCION HEADER */
header{
    display: flex;
    flex-direction: column;
    background-color:#e0e0e0;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.h1{
    font-size: larger;
    color: rgb(0, 0, 0);
}
.opciones-header{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
ul{
    display: flex;
    text-decoration:none;    
    list-style: none;
    margin: 10px;
}
li{
    margin-right:10px;
    text-decoration:none;
    color: #000000;
}
/* SECCION MAIN */
p{
    margin: 3px;
    font-size: 0.85rem;
    color: #111111;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height:84vh;
}
.contenedor-editor{
    width: 600px;
    max-width: 700px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.div-img{
    width: 100%;
    height: 80%;
    background-color: black;
}
aside{
    display: block;
    margin-top:0 ;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 20px;
    float: right;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #fafafa;
    color: rgb(56, 56, 56);
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.h1-titulo{
    color: #4e4d4d;
    margin: 10px;
    font-size: 2.3rem;
}
h2{
    text-align: center;
    color: #4e4d4d;
}
h3{
    margin: 10px 0;
    font-size: 0.9rem;
}
label{
    color: #000000;
}
input[type='range']{
    background-color: #5d5d5f;
    width:95%;
    height: 6px;
    appearance: none;
    border-radius: 10px;
    margin-top: 0px;
}
input[type='text']{
    width: 100%;
    height: 35px;
    border-radius: 2px;
    margin: 5px;
    background-color:#c5c5c7a2;
    border: 0;
    outline: 0;
}
.div-color{
    width: 40%;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
}
input[type='color']{
    width: 20px;
    border: none;
    margin: 5px;
}
.texto-meme{
    background-color: white;
    color: #000000;
    height: 90px;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.boton-aside{
    width: 60%;
    height: 20px;
    background-color:#c5c5c7a2;
    color:  #7e7c7c;
    padding: 10px;
    border-radius: 4px;
}
.boton-descargar{
    height: 20px;
    background-color:#2e7d32;
    color:  #ffffff;
    padding: 12px 20px;
    border-radius: 4px;
    margin:25px;
}
.select-texto{
    width: 100%;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    color: #4e4d4d;;
}
.fa-file-image{
    margin: 5px;
    font-size: 1;
    color: #4e4d4d;
}
.fa-font{
    margin: 5px;
    font-size: 1rem;
    color: #4e4d4d;
}
.fa-lightbulb{
    margin: 5px;
    font-size: 1rem;
    color: #4e4d4d;
}
.fa-download{
    margin-right: 10px;
    font-size: 1rem;
}
#tamanio-fuente{
    width: 50%;
}
.boton-justificado{
    width: 16%;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    text-align: center;
    font-size: 1.3rem;
}
.tipos-de-justificado{
    display: flex;
}
.tipos-de-contorno{
    display: flex;
}
.color-fondo{
    display: flex;
    width: 100%;
    height: 35px;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    text-align: center;
    font-size: 1rem;
}
.boton-texto{
    width: 33%;
    height: 25px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}
.div-color-fondo{
    width: 40%;
    display: flex;
    flex-direction: column;
}
textarea{
    font-size: 16px;
    color: #4e4d4d;
    align-items: center;
}
.aside-texto{
    left: 1;
}