body{
    display: flex;
    margin: 0;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
}
.contenedor-main{
    display: flex;
    flex-direction: column;
}
/* SECCION HEADER */
header{
    display: flex;
    flex-direction: column;
    background-color:#e0e0e0;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.h1{
    font-size: larger;
    color: rgb(0, 0, 0);
}
.opciones-header{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.boton-header{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-right:10px;
    text-decoration:none;
    color: #000000;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hidden{
    display: none;
}
/* SECCION MAIN */
p{
    margin: 3px;
    font-size: 0.85rem;
    color: #111111;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height:84vh;
}
.contenedor-editor{
    width: 80%;
    max-width: 700px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.meme-img{
    width: 100%;
    height: 95vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: 'no-repeat';
    background-position: center;
}
aside{
    display: block;
    margin-top:0 ;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 20px;
    float: right;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #fafafa;
    color: rgb(56, 56, 56);
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0;
}
.h1-titulo{
    color: #4e4d4d;
    margin: 10px;
    font-size: 2.3rem;
}
h2{
    text-align: center;
    color: #4e4d4d;
}
h3{
    margin: 10px 0;
    font-size: 0.9rem;
}
label{
    color: #000000;
    font-size: 0.9rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 300;
    text-decoration: none;
    appearance: none;
}
input[type='range']{
    background-color: #5d5d5f;
    width:95%;
    height: 6px;
    appearance: none;
    border-radius: 10px;
    margin-top: 0px;
}
input[type='text']{
    width: 100%;
    height: 35px;
    border-radius: 2px;
    margin: 5px;
    background-color:#c5c5c7a2;
    border: 0;
    outline: 0;
}
input{
    cursor: pointer;
}
.div-color{
    width: 40%;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
}
.div-color-texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    margin: 0px;
    text-align: left;
}
.texto-meme{
    background-color: white;
    color: #000000;
    height: 90px;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.boton-aside{
    width: 60%;
    height: 50px;
    margin: 40px;
    background-color:#c5c5c7a2;
    color:  #7e7c7c;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.boton-descargar{
    height: 40px;
    background-color:#2e7d32;
    color:  #ffffff;
    padding: 12px 20px;
    border: 0;
    border-radius: 4px;
    margin:25px;
    cursor: pointer;
}
.select-texto{
    width: 95%;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    color: #4e4d4d;
}
.select-img{
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    color: #4e4d4d;
}
.fa-file-image{
    margin: 5px;
    font-size: 1;
    color: #4e4d4d;
}
.fa-font{
    margin: 5px;
    font-size: 1rem;
    color: #4e4d4d;
}
.fa-lightbulb{
    margin: 5px;
    font-size: 1rem;
    color: #4e4d4d;
}
.fa-download{
    margin-right: 10px;
    font-size: 1rem;
}
#tamanio-fuente{
    width: 50%;
}
.boton-justificado{
    width: 16%;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}
.tipos-de-justificado{
    display: flex;
}
.tipos-de-contorno{
    display: flex;
}
.color-fondo{
    display: flex;
    width:100%;
    border-radius: 3px;
    margin-right: 25px;
    outline: 0;
    border: 0;
    text-align: center;
    font-size: 1rem;
    justify-content: space-between;
}
.boton-texto{
    width: 33%;
    height: 35px;
    background-color:#c5c5c7a2;
    color: #4e4d4d;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    cursor: pointer;
}
.div-fondo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.fondo-img{
    display: flex;
    width: 50%;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    color: #4e4d4d;
    align-items: center;
}
input[type="color" i]{
    display: flex;
    justify-content: center;
    -webkit-appearance: none;
    background-color: transparent;
    appearance: none;
    width: 20px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline-style: none;
}
.color-fondo-texto{
    display: flex;
    height: 35px;
    background-color:#c5c5c7a2;
    border-radius: 3px;
    margin: 5px;
    outline: 0;
    border: 0;
    color: #4e4d4d;
    align-items: center;
}
.texto-texarea{
    display: flex;
    flex-direction: column;}
textarea{
    font-size: 16px;
    color: #4e4d4d;;
}
.aside-texto{
    right: 0;
}
.input-url{
    width: 50%;
    background-color: #000000;
}
@media(max-width:700px){
    .h1-titulo{
        font-size: 1.7rem;
        margin: 15px 0;
    }
    .boton-header{
        margin: 10px 0;
        font-size: 0.9rem;
    }
    .contenedor-editor{
        margin: 0 15px;
        transition: 0.7s;
        flex-grow: 1;
    }
    aside{
        width: 97%;
        padding: 20px;
        left: 0px;
        right: 0px;
    }
    input[type=text]{
        width:90%
    }
    .div-fondo{
        justify-content: left;
    }
    label{
        margin: 0;
    }
    .tipos-de-justificado{
        width: 97%;
    }
    .select-texto{
        width: 95.5%;
    }
    .color-fondo-texto{
        width: 90%;
    }
    .tipos-de-contorno{
        width: 97%;
    }
}
@media(min-width:701px){
    .cruz-aside{
        display: none;
    }
}